{{!-- Just make sure y're using enctype --}}
<form method="POST" action="/" enctype="multipart/form-data">
    <input type="file" name="file"> 
    <button type="submit" width="280px">Submit</button>
</form>             